.temperature-container {
    padding: 1rem;
    .temperature {
        img {
            width: 15rem;
        }
        h1 {
            font-size: 8rem;
            font-family: cursive;
        }
    }
}