<div class="temperature-container">
    <div class="temperature-state">
        <div class="temperature">
            <img src="../../assets/cloudy.png" alt="weather-state">
            <h1>+23<sup>o</sup></h1>
        </div>
        <h2>Sunny</h2>
        <div class="temperature__definition">
            <div class="humidity">
                <p class="value">45%</p>
                <p class="title">humidity</p>
            </div>
            <div class="wind-speed">
                <p class="value">192km/h</p>
                <p class="title">wind speed</p>
            </div>
        </div>
        <div class="sun_position">

        </div>
    </div>
</div>