@import '../../baseComponents/base.scss';
.temperature-container {
    padding: 1rem;
    // @include glyphicon();
    .temperature-state {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .temperature {
        display: flex;
        img {
            width: 13rem;
        }
        h1 {
            font-size: 8rem;
            font-family: cursive;
        }
    }
    h2 {
        text-align: center;
        margin: 1rem 0;
        font-size: 2rem;
    }
    .temperature__definition {
        flex-grow: 1;
        margin: 1rem 3rem;
        border: 1px solid;
        display: flex;
        .wind-speed {
            margin-left: auto;
        }
    }
}