<div class="container">
    <div class="card">
        <h3 class="card__day">Today</h3>
        <img src="../../assets/cloudy.png" alt="weather condition">
        <div class="card__details">
            <p class="card__temperature">+30<sup>o</sup>C</p>

        </div>
    </div>
    <div class="card">
        <h3 class="card__day">Today</h3>
        <img src="../../assets/cloudy.png" alt="weather condition">
        <div class="card__details">
            <p class="card__temperature">+30<sup>o</sup>C</p>


        </div>
    </div>
    <div class="card">
        <h3 class="card__day">Today</h3>
        <img src="../../assets/cloudy.png" alt="weather condition">
        <div class="card__details">
            <p class="card__temperature">+30<sup>o</sup>C</p>

        </div>
    </div>
    <div class="card">
        <h3 class="card__day">Today</h3>
        <img src="../../assets/cloudy.png" alt="weather condition">
        <div class="card__details">
            <p class="card__temperature">+30<sup>o</sup>C</p>

        </div>
    </div>
    <div class="card">
        <h3 class="card__day">Today</h3>
        <img src="../../assets/cloudy.png" alt="weather condition">
        <div class="card__details">
            <p class="card__temperature">+30<sup>o</sup>C</p>

        </div>
    </div>
    <div class="card">
        <h3 class="card__day">Today</h3>
        <img src="../../assets/cloudy.png" alt="weather condition">
        <div class="card__details">
            <p class="card__temperature">+30<sup>o</sup>C</p>

        </div>
    </div>
    <div class="card">
        <h3 class="card__day">Today</h3>
        <img src="../../assets/cloudy.png" alt="weather condition">
        <div class="card__details">
            <p class="card__temperature">+30<sup>o</sup>C</p>

        </div>
    </div>
</div>