@import "../../baseComponents/base.scss";
.container {
    gap: 1.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    @media screen and (max-width: 500px) {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        padding: 0;
    }
    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }
    .card {
        display: flex;
        gap: 1rem;
        border-radius: 5px;
        padding: 1rem 0rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background: linear-gradient(to right top, #65dfc9, #6cdbeb);
        box-shadow: -1px 0px 30px 0px rgba(0, 0, 0, 0.15);
        @media screen and(max-width: 800px) {
            flex-direction: row;
            justify-content: space-around;
        }
        img {
            width: 5rem;
        }
        .humidity {
            text-align: center;
        }
    }
}