@import '../../baseComponents/base.scss';
.weather-container {
    @include glyphicon();
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.weather-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-details {
    margin-top: 1rem;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: "temperature chart" "weekChart weekChart";
}

app-temperature-details-card {
    border: 1px solid green;
    grid-area: temperature;
}

app-weather-chart-card {
    border: 1px solid blue;
    grid-area: chart;
}

app-week-weather-forecast-card {
    border: 1px solid yellow;
    grid-area: weekChart;
}