/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import '../src/baseComponents/loader';
html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

* {
    margin: 0px;
    padding: 0px;
}

