/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins');
html,
body {
    height: auto;
    font-family: 'Poppins', sans-serif;
}

body {
    background-size: cover;
    background-position: center;
    //background-repeat: no-repeat;
}

* {
    margin: 0px;
    padding: 0px;
}