@mixin glyphicon {
    border-top: 1px solid rgba(225, 225, 225, 0.5);
    border-left: 1px solid rgba(225, 225, 225, 0.3);
    border-right: 1px solid rgba(225, 225, 225, 0.3);
    border-bottom: 1px solid rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(4px);
    box-shadow: -1px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

@mixin glass {
    background: white;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
}